/*This is my 377 FoCo Web Page Project using Eric Meyer's reset at the top of my page -- your CSS starts on line 56 */



/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* ---------- This is the beginning of my 377 FoCo Web Page Project ------------ */

html, body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin: 0;
  background-image: url("images/levan-badzgaradze-xoeljsx5CD4-unsplash.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
	
	
}

.center {
    width: 600px;
	padding: 2%;
    margin: 100px auto;
	border-radius: 100px;
 	background: rgba(238, 229, 199, .30);
	text-align: center;
}

   
#logo {
    margin-bottom: 16px;
	text-align: center;
}

h1 {
	font-family: garamond-premier-pro-display, serif;
	font-weight: 700;
	font-style: italic;
	font-size: 2em;
    margin: 0px auto 10px auto;
	color: #fff;
}

h2 {
	font-family: gopher,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
    line-height: 1.4;
	color: #fff;
    padding: 0px 0px;
    margin: 0px auto 25px auto;
}

p {
	font-family: garamond-premier-pro,serif;
	font-weight: 400;
	font-style: italic;
	font-size: 1.2em;
    line-height: 1.6;
    color: #fff;
}
    
nav {
	font-family: gopher,sans-serif;
	font-weight: 400;
	font-style: normal;
	font-size: 1.5em;
	width: 600px;
	margin: 0 auto;
	border: groove; #859783;
	border-width: 3px 0;
	text-align: center;
	margin-top: 2em;
}    

nav li{
	display: inline;
}

nav a {
	display: inline-block;
	padding: 10px;
	color: rgb(255, 255, 255);
	text-decoration: none;
	font-weight: bold;
}

a:hover {
	color: #fff;
	background: #859783;
}

{
    margin: 0;
    padding: 0;
  }
 
.cardphoto img {
    display: block;
    max-width: 100%;
    border-radius: 1rem;
  }
 
.cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
	  margin-top: 50px;
    margin-bottom: 200px;
  }
 
  .card {
    background-color: rgba(238, 229, 199, .60);
    display: flex;
    flex-direction: column;
    margin: 50px;
    min-width: 250px;
    max-width: 350px;
    border-radius: 1rem;
    border-style: solid;
    border-width: 1px;
    border-color: #859783;
    box-shadow: 0 0 2px 5px #859783;
    position: relative;
    top: 0;
  }

  .card:hover {
    transition: all 0.1s ease-in;
    top: -2px;
    box-shadow: 0 4px 5px #859783;
  }
 
  .cardphoto {
    max-height: 250px;
    overflow: hidden;
  }
 
  .cardarticle {
    padding: 2.5rem;
    flex-grow: 1;
  }
 
  .cardH1 {
    font-family: gopher,sans-serif;
	  font-weight: 400;
	  font-style: normal;
    font-size: 2rem;
    margin: 0;
    color: rgb(255, 255, 255);
  }
 
  .card p {
    font-family: garamond-premier-pro,serif;
	  font-weight: 400;
	  font-style: italic;
    font-size: 1rem;
    line-height: 1.5;
  }
 
  .card footer {
    font-size: 1.2rem;
    font-weight: bold;
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    margin: 0;
    text-align: center;
  }

  h3{
    font-family: gopher,sans-serif;
	  font-weight: 400;
	  font-style: normal;
    font-size: 2rem;
    margin: 0;
    color:rgb(255, 255, 255);
  }
 
  .card p {
      color: rgb(255, 255, 255);
  }